.wannaplay {
    height: 250px;
}

.wannaplay {
    display: flex;
    justify-content: center;
}

.quest1 {
    height: 250px;
}

.magicalforest {
    height: 400px;
}

.strawberrybushimg {
    height: 250px;
}

.strawberrypng {
    height: 250px;
}


.blood {
    height: 250px;
}